@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>
<div class="text-center">
    <p class=" container-sm">Create a professional CV with ease using our user-friendly CV builder website. Highlight your skills and experience to stand out to potential employers. Log in to start crafting your winning CV today!</p>
</div>