html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E8E9EB;
}

.card {
    background-color: #bfc8d9;
    color: #2F1847;
}

nav {
    background-color: #bfc8d9;
    color: #2F1847;
}