@model EducationModel

<tr>
    <form>

    <td>
        <div>
            <input type="date" class="form-control" asp-for="BeginYear" id="beginYear" />
        </div>
    </td>

    <td>
        <div>
            <input type="date" class="form-control" asp-for="EndYear" id="endYear" />
        </div>
    </td>

    <td>
        <div>
            <input type="hidden" name="ResumeId" value="@(ViewData["ResumeId"])" />
            <input type="text" class="form-control" asp-for="Major" id="major" required/>
        </div>
    </td>
    <td>
        <div>
            <input type="text" class="form-control" asp-for="Country" id="country" />
        </div>
    </td>
    <td>
        <div>
            <input type="hidden" name="ResumeId" value="@(ViewData["ResumeId"])" />
            <input type="text" class="form-control" asp-for="Name" id="name" required/>
        </div>
    </td>
    <td>
        <button class="btn btn-primary">
            Add
        </button>
    </td>
    </form>
</tr>