@model JobModel

<tr>
    <form method="post" asp-action="AddJob" asp-controller="Resumes">
        <input type="hidden" name="ResumeId" value="@(ViewData["ResumeId"])" />
    
    <td>
        <div>
            <input type="text" class="form-control" asp-for="Name" id="name" required />
        </div>
    </td>

    <td>
        <div>
            <input type="text" class="form-control" asp-for="CompanyName" id="companyName" required />
        </div>
    </td>

    <td>
        <div>
            <input type="text" class="form-control" asp-for="Position" id="position" required />
        </div>
    </td>

    <td>
        <div>
            <input type="text" class="form-control" asp-for="Description" id="description" />
        </div>
    </td>

    <td>
        <div>
            <input type="date" value="21.07.2023" class="form-control" asp-for="BeginYear" id="beginYear" />
        </div>
    </td>

    <td>
        <div>
            <input type="date" value="21.07.2023" class="form-control" asp-for="EndYear" id="endYear" />
        </div>
    </td>
    <td>
        <button class="btn btn-primary" type="submit">
            Add
        </button>
    </td>
    </form>
</tr>