@model JobModel

<tr>
    <form>

    <td>
        <div>
            <input type="date" class="form-control" asp-for="Name" id="" />
        </div>
    </td>

    <td>
        <div>
            <input type="date" class="form-control" asp-for="Name" id="" />
        </div>
    </td>

    <td>
        <div>
            <input type="text" class="form-control" asp-for="Name" id="" />
        </div>
    </td>
    <td>
        <div>
            <input type="text" class="form-control" asp-for="Name" id="" />
        </div>
    </td>
    <td>
        <div>
            <input type="text" class="form-control" asp-for="Name" id="" />
        </div>
    </td>
    <td>
        <button class="btn btn-primary">
            Add
        </button>
    </td>
    </form>
</tr>