@model LanguageModel
@using Aibest.Data
<tr>
    <form method="post" asp-action="AddLanguage" asp-controller="Resumes">
        <input type="hidden" name="ResumeId" value="@(ViewData["ResumeId"])" />
    <td>
        <div>
            <input type="text" class="form-control" asp-for="Name" id="name" />
        </div>
    </td>
    <td>
        <div>
            <select class="form-control" name="level" id="level">
                    @foreach (var level in Enum.GetValues(typeof(Levels)))
                    {
                    <option value="@level">@level</option>
                    }
            </select>
        </div>
    </td>
    <td>
        <button class="btn btn-primary">
            Add
        </button>
    </td>
    </form>
</tr>